* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(247, 234, 234);
}

header {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: rgb(21, 59, 211);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  transition: all 0.1s ease-out;
}
.btn:hover {
  background-color: rgb(21, 11, 131);
  cursor: pointer;
}

/* highlights section css fils */
#highlights {
  width: 70%;
  margin: 50px auto;
}

#highlights > h2 {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 25px;
  text-shadow: 2px 2px 8px #af3d3d;
}
#highlights > p {
  margin: 0 auto;
  width: 50%;
  color: rgb(89, 85, 85);
  text-align: center;
  margin-bottom: 25px;
}
#buy-now-btn {
  display: flex;
  justify-content: center;
}

/* Cover Image css */
#cover-image {
  width: 70%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
#cover-image > img {
  width: 100%;
}

/* search section css */
#search {
  width: 70%;
  margin: 50px auto;
}
#search > h2 {
  text-align: center;
  margin-bottom: 20px;
}
#search-container {
  margin: 0 auto;
  width: 50%;
  border: 2px solid black;
  border-radius: 8px;
  background-color: beige;
  padding: 10px;
  display: flex;
}
#search-bar {
  width: 70%;
}
#search-bar > input[type="text"] {
  padding: 15px;
  border: 0;
  width: 50%;
  background-color: beige;
  outline: none;
}
#search-button {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

/* Card section desing */
#card-section {
  width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.card {
  /* width: 20%; */
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  padding: 20px;
}
.card-image {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.card-image:hover {
  background-color: #1d335515;
  transition: 0.8s;
}
.card-image img {
  width: 80%;
  height: 300px;
  object-fit: cover;
}
.card-image img:hover {
  width: 80%;
  height: 300px;
}
.card-title {
  text-align: center;
  color: #403f3f;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-description {
  text-align: center;
  color: #706f6f;
  margin-bottom: 10px;
}
.card-price {
  text-align: center;
  color: #403f3f;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.card-button {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}
